*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 1.5rem;
    text-align: right;
    margin-right: 10px;
    font-weight: 900;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: crimson;
    border-radius: 12px;
    padding: 10px;
}

form .display input[type="text"]{
    height: 60px;
    width: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: right;
    padding-right: 10px;
    font-size: 2rem;
    background-color: rgb(204, 129, 129);
}

.calculator form input{
    height: 60px;
    width: 60px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    background-color: rgb(146, 15, 15);
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 8px;
    color: wheat;
}

form div .equal{
    width: 140px;

}

@media (max-width: 599px) {
    .container {
        padding: 10px;
    }

    form .display input[type="text"] {
        width: 180px;
        height: 45px;
        font-size: 1.5rem;
        padding-right: 5px;
    }

    .calculator form input {
        height: 45px;
        width: 45px;
        font-size: 1.5rem;
        margin: 5px;
    }

    form div .equal{
        width: 90px;
    }
}

